body {
    min-width: 320px;
}

h1 {
    margin: 2rem;
    font-size: 1rem;
    color: #3f4964;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.close-btn {
    background-color: transparent;
    position: fixed;
    top: 10px;
    right: 10px;
    color: #cfced6;
    border: none;
    padding: 10px 15px;
    font-size: 1rem;
    cursor: pointer;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.close-icon {
    font-size: 1.25rem;
}

.close-text {
    font-size: 0.75rem;
}

.close-btn:hover {
    color: #cb2f2fc8;
}

.front-end-members-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 0.3rem;
}

.search-bar {
    display: flex;
    width: 60%;
    border-bottom: 1px solid #9298a6;
    margin-bottom: 20px;
    box-sizing: border-box;
    padding: 10px 0;
}

.black-search-icon {
    display: none;
}

.search-bar input {
    width: 100%;
    border: none;
    outline: none;
    box-sizing: border-box;
    margin-left: 10px;
}

.search-bar:focus-within {
    border-bottom: 1.5px solid #242d4e;
}

.search-bar:focus-within .gray-search-icon {
    display: none;
}

.search-bar:focus-within .black-search-icon {
    display: block;
}

.front-end-member {
    position: relative;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 60%;
    padding: 15px 10px;
    border: 1px solid #9298a6;
    border-radius: 3px;
    box-sizing: border-box;
    color: #9298a6;
}

.black-person-icon {
    display: none;
}

.front-end-member label {
    padding-left: 10px;
}

.front-end-member input {
    position: absolute;
    right: 10px;
}

.front-end-member:has(input:checked) {
    color: #242d4e;
}

.front-end-member:has(input:checked) .black-person-icon {
    display: block;
}

.front-end-member:has(input:checked) .gray-person-icon {
    display: none;
}

input[type="checkbox"] {
    appearance: none;
    -webkit-appearance: none;
    width: 20px;
    height: 20px;
    border: 1px solid #9298a6;
    border-radius: 50%;
    outline: none;
    cursor: pointer;
    background-color: white;
}

input[type="checkbox"]:checked {
    border: none;
    background-image: url('../images/check-mark.png');
    background-size: 100%;
    background-repeat: no-repeat;
    background-position: center;
}

input[type="reset"],
input[type="submit"] {
    padding: 15px 50px;
    margin: 20px 10px;
    border-radius: 5px;
    font-size: 1rem;
}

input[value="Cancel"] {
    background-color: #ffffff;
    border: 1px solid #f6f5fa;
    color: #e3e3eb;
}

input[value="SAVE"] {
    background: linear-gradient(to right, #6db7ff, #7594ff, #7886ff);
    border: none;
    color: #e3e3eb;
    box-shadow: 0 3px 5px #7886ff9f;
}

input[value="Cancel"]:hover {
    background-color: #f7f7f75d;
}

input[value="SAVE"]:hover {
    background: #7886ff;
}

@media (max-width: 600px) {
    html {
        font-size: 12px;
    }

    input[type="reset"],
    input[type="submit"] {
        padding: 10px 30px;
    }

    input[type="checkbox"] {
        width: 15px;
        height: 15px;
    }
}

@media (max-width: 370px) {
    h1 {
        max-width: 30ch;
    }

    .form-btns {
        display: flex;
        flex-direction: column;
    }

    input[type="reset"],
    input[type="submit"] {
        margin: 5px 0;
    }

    input[type="checkbox"] {
        width: 10px;
        height: 10px;
    }
}